<ion-header>
  <ion-toolbar>
    <ion-title>
      Sketch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label position="floating">Height</ion-label>
        <ion-input [(ngModel)]="height"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Width</ion-label>
        <ion-input [(ngModel)]="width"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Length</ion-label>
        <ion-input [(ngModel)]="length"></ion-input>
    </ion-item>
    <br>
    <ion-row>
        <ion-col size="6">
            <div id = "p5sketch">
                <!-- p5 instance will be created here -->
            </div>
        </ion-col>
    </ion-row>  
</ion-content>